@page "/workouts/add/workout"

<div class="sidebar">
    <Header Title="Workout"/>
</div>

<EditForm Model="@addWorkoutModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="workoutName">Name</label>
        <InputText class="form-control form-control-lg" @bind-Value="addWorkoutModel.Name" />
        <ValidationSummary />
    </div>

    <div class="text-center submit-btn">
        <button type="submit" class="btn btn-primary btn-xlg">Continue</button>
    </div>
</EditForm>

@code{
    private AddWorkoutModel addWorkoutModel = new AddWorkoutModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("Yaay");
    }
}