@using Beceps.Shared.Components
@using Beceps.Authentication.SignIn
@inject NavigationManager LocalNavigationManager


<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <div class="d-none d-sm-block text-white text-center w-100 my-auto">
            <h1>Please toggle the device mode toolbar with Ctrl + Shift + M and choose IPhone 6/7/8</h1>
        </div>
        <div class="d-block d-sm-none">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </div>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <SignIn></SignIn>
        </LayoutView>
    </NotFound>
</Router>
