@page "/"
@using Beceps.Shared.Domain;
@using Beceps.Shared.Services;
@using System.Text.Json;
@inject HttpClient Http
@inject NavigationManager LocalNavigationManager
@inject WorkoutState WorkoutState

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark d-flex align-content-center">
        <a class="navbar-brand" href="">Workouts</a>
        <button class="logout-btn navbar-toggler">
            Logout
            <i class="fas fa-sign-out-alt text-light" />
        </button>
    </div>
</div>

@if (WorkoutState.Workouts != null)
{
    @foreach (var workout in WorkoutState.Workouts.Select((value, i) => new { i, value }))
    {
        <div class="card mt-5 mx-auto" @onclick="(() => ViewWorkoutDetails(workout.i))">
            <div class="card-body">
                <h5 class="card-title">@workout.value.Name</h5>
                <ul class="list-group">
                    @foreach (var routine in workout.value.Routines)
                    {
                        <li class="list-group-item">@routine.WeekDay @routine.Name</li>
                    }
                </ul>
            </div>
        </div>
    }

    <button type="button" class="btn btn-primary btn-circle position-fixed" @onclick="AddWorkout">+</button>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        WorkoutState.Workouts = await Http.Get<IList<WorkoutDto>>("workouts");
        var lul = JsonSerializer.Serialize<WorkoutState>(WorkoutState);
    }

    public void ViewWorkoutDetails(int workoutIndex)
    {
        LocalNavigationManager.NavigateTo($"/workouts/details/{workoutIndex}");

    }

    public void AddWorkout()
    {
        LocalNavigationManager.NavigateTo("/workouts/add/workout");
    }
}
