@page "/"
@inject NavigationManager LocalNavigationManager

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        LocalNavigationManager.NavigateTo($"/sign-in");
    }
}