<div class="top-row pl-4 navbar navbar-dark d-flex align-content-center">
    <a class="navbar-brand" href="">Workout</a>
    <button class="navbar-toggler back-btn">
            <i class="fas fa-arrow-left text-light" />
    </button>
</div>


